In [2]:
import pandas as pd
import numpy as np

In [3]:
modeling_powerlaw_data = pd.read_csv(
    '/home/elilouis/hsfm-geomorph/dem-analysis/mt_baker_mass_wasted/outputs/modeling_powerlaw_data.csv'
)
time_series_annualized_gross = pd.read_csv(
    '/home/elilouis/hsfm-geomorph/dem-analysis/mt_baker_mass_wasted/outputs/final_figures_data/time_series_annualized_gross.csv'
)
time_series_cumulative = pd.read_csv(
    '/home/elilouis/hsfm-geomorph/dem-analysis/mt_baker_mass_wasted/outputs/final_figures_data/time_series_cumulative.csv'
)
volumes_and_yields_per_valley = pd.read_csv(
    '/home/elilouis/hsfm-geomorph/dem-analysis/mt_baker_mass_wasted/outputs/final_figures_data/volumes_and_yields_per_valley.csv'
)

# Gross Changes Table

In [4]:
time_series_annualized_gross['uncertainty'] = np.abs(time_series_annualized_gross['Annual Mass Wasted'] - time_series_annualized_gross['Lower CI'])
time_series_annualized_gross = time_series_annualized_gross[['valley', 'process', 'type', 'start_time', 'end_time', 'Annual Mass Wasted', 'uncertainty']]
time_series_annualized_gross = time_series_annualized_gross.sort_values(["valley", 'process', 'type', 'start_time', 'end_time'])
time_series_annualized_gross['Annual Mass Wasted'] = np.round(time_series_annualized_gross['Annual Mass Wasted'], 2)
time_series_annualized_gross['uncertainty'] = np.round(time_series_annualized_gross['uncertainty'], 2)
time_series_annualized_gross

,valley,process,type,start_time,end_time,Annual Mass Wasted,uncertainty
54,Coleman,fluvial,negative,1947-09-14,1970-09-29,-2.39,1.04
55,Coleman,fluvial,negative,1970-09-29,1979-10-06,-0.06,0.50
56,Coleman,fluvial,negative,1979-10-06,1987-08-21,-0.27,0.90
57,Coleman,fluvial,negative,1987-08-21,1990-09-05,-0.58,8.46
58,Coleman,fluvial,negative,1990-09-05,2015-09-01,-2.13,0.35
...,...,...,...,...,...,...,...
13,Rainbow,hillslope,positive,1947-09-14,1970-09-29,21.88,15.43
14,Rainbow,hillslope,positive,1970-09-29,1974-08-10,51.53,40.62
15,Rainbow,hillslope,positive,1974-08-10,1977-09-27,50.36,17.11
16,Rainbow,hillslope,positive,1977-09-27,1991-09-09,12.80,2.41
17,Rainbow,hillslope,positive,1991-09-09,2015-09-01,8.08,1.66

# Cumulative Changes Table

In [5]:
time_series_cumulative = time_series_cumulative[time_series_cumulative.type.isin(['fluvial', 'hillslope', 'all'])]
time_series_cumulative['uncertainty'] = np.abs(time_series_cumulative['cumulative volume'] - time_series_cumulative['Lower CI'])
time_series_cumulative = time_series_cumulative[['valley', 'type', 'end_time', 'cumulative volume', 'uncertainty']]
time_series_cumulative['uncertainty'] = time_series_cumulative.apply(lambda row: row.uncertainty if row.end_time[:4] =='2015' else np.nan, axis=1)
time_series_cumulative = time_series_cumulative.sort_values(['valley', 'type', 'end_time'])
time_series_cumulative['cumulative volume'] = np.round(time_series_cumulative['cumulative volume'], 2)
time_series_cumulative['uncertainty'] = np.round(time_series_cumulative['uncertainty'], 2)

time_series_cumulative

     valley       type    end_time  cumulative volume  uncertainty
83  Coleman        all  1947-09-14               0.00          NaN
78  Coleman        all  1970-09-29           -1002.53          NaN
79  Coleman        all  1979-10-06            -944.38          NaN
80  Coleman        all  1987-08-21            -944.51          NaN
81  Coleman        all  1990-09-05            -899.20          NaN
..      ...        ...         ...                ...          ...
59  Rainbow  hillslope  1974-08-10           -2186.48          NaN
60  Rainbow  hillslope  1977-09-27           -2150.13          NaN
61  Rainbow  hillslope  1991-09-09           -2179.35          NaN
62  Rainbow  hillslope  2015-09-01           -2535.30       397.16
77  Rainbow  hillslope  2018-05-28           -2885.38          NaN

[74 rows x 5 columns]

# 10 Watershed Sediment Yields Table and Modeling Data

In [6]:
modeling_powerlaw_data['Uncertainty (ton/yr)'] = np.abs(modeling_powerlaw_data['Sediment Yield (ton/yr)'] - modeling_powerlaw_data['Lower CI sediment yield'])
modeling_powerlaw_data['Uncertainty (ton/km²/yr)'] = np.abs(modeling_powerlaw_data['Sediment Yield (ton/km²/yr)'] - modeling_powerlaw_data['Lower CI sediment yield normalized'])

In [7]:
modeling_powerlaw_data = modeling_powerlaw_data[[
    'Valley Name',
    'Drainage area (square km)',
    'Channel slope',
    'Hillslope domain slope',
    'Glacial retreat area (km²)',
    'Nonigneous fraction',
    'Sediment Yield (ton/yr)',
    'Sediment Yield (ton/km²/yr)',
    'Uncertainty (ton/yr)',
    'Uncertainty (ton/km²/yr)'
]]

modeling_powerlaw_data['Drainage area (square km)'] = np.round(modeling_powerlaw_data['Drainage area (square km)'], 2)
modeling_powerlaw_data['Channel slope'] = np.round(modeling_powerlaw_data['Channel slope'], 2)
modeling_powerlaw_data['Hillslope domain slope'] = np.round(modeling_powerlaw_data['Hillslope domain slope'], 2)
modeling_powerlaw_data['Glacial retreat area (km²)'] = np.round(modeling_powerlaw_data['Glacial retreat area (km²)'], 2)
modeling_powerlaw_data['Nonigneous fraction'] = np.round(modeling_powerlaw_data['Nonigneous fraction'], 2)
modeling_powerlaw_data['Sediment Yield (ton/yr)'] = np.round(modeling_powerlaw_data['Sediment Yield (ton/yr)'], 2)
modeling_powerlaw_data['Sediment Yield (ton/km²/yr)'] = np.round(modeling_powerlaw_data['Sediment Yield (ton/km²/yr)'], 2)
modeling_powerlaw_data['Uncertainty (ton/yr)'] = np.round(modeling_powerlaw_data['Uncertainty (ton/yr)'], 2)
modeling_powerlaw_data['Uncertainty (ton/km²/yr)'] = np.round(modeling_powerlaw_data['Uncertainty (ton/km²/yr)'], 2)

In [8]:
volumes_and_yields_per_valley['Uncertainty (1000 m³/yr)'] = np.abs(volumes_and_yields_per_valley['Annual Mass Wasted'] - volumes_and_yields_per_valley['Lower CI'])
volumes_and_yields_per_valley['Sediment Yield (1000 m³/yr)'] = volumes_and_yields_per_valley['Annual Mass Wasted']
volumes_and_yields_per_valley = volumes_and_yields_per_valley[volumes_and_yields_per_valley['named interval'] == 'bounding'][['Valley Name', 'Uncertainty (1000 m³/yr)', 'Sediment Yield (1000 m³/yr)']]
volumes_and_yields_per_valley['Uncertainty (1000 m³/yr)'] = np.round(volumes_and_yields_per_valley['Uncertainty (1000 m³/yr)'], 2)
volumes_and_yields_per_valley['Sediment Yield (1000 m³/yr)'] = np.round(volumes_and_yields_per_valley['Sediment Yield (1000 m³/yr)'], 2)

volumes_and_yields_per_valley

   Valley Name  Uncertainty (1000 m³/yr)  Sediment Yield (1000 m³/yr)
2         Park                      4.38                        29.80
5      Rainbow                      6.24                        42.30
8      Boulder                     10.41                         6.42
11       Squak                      5.40                        -7.23
14     Thunder                      8.02                         2.74
17       Talum                      6.49                       -12.37
20      Easton                      3.59                        13.16
23      Deming                      5.06                        52.39
26     Coleman                      4.22                        44.65
29      Mazama                     11.83                        46.87

In [9]:
modeling_powerlaw_data = modeling_powerlaw_data.merge(volumes_and_yields_per_valley, on='Valley Name')

In [10]:
modeling_powerlaw_data = modeling_powerlaw_data[[
    'Valley Name',
    'Drainage area (square km)',
    'Channel slope',
    'Hillslope domain slope',
    'Glacial retreat area (km²)',
    'Nonigneous fraction',
    'Sediment Yield (1000 m³/yr)',
    'Uncertainty (1000 m³/yr)',
    'Sediment Yield (ton/yr)',
    'Uncertainty (ton/yr)',
    'Sediment Yield (ton/km²/yr)',
    'Uncertainty (ton/km²/yr)',
]]


modeling_powerlaw_data

,Valley Name,Drainage area (square km),Channel slope,Hillslope domain slope,Glacial retreat area (km²),Nonigneous fraction,Sediment Yield (1000 m³/yr),Uncertainty (1000 m³/yr),Sediment Yield (ton/yr),Uncertainty (ton/yr),Sediment Yield (ton/km²/yr),Uncertainty (ton/km²/yr)
0,Park,9.95,0.10,0.55,0.39,0.70,29.80,4.38,50359.14,7400.99,5062.23,743.97
1,Rainbow,12.86,0.09,0.59,0.69,0.98,42.30,6.24,71479.50,10548.33,5559.99,820.49
2,Boulder,5.63,0.19,0.46,0.80,0.32,6.42,10.41,10853.03,17594.84,1926.28,3122.87
3,Squak,3.95,0.22,0.52,0.36,0.26,-7.23,5.40,-12214.96,9125.56,-3094.22,2311.63
4,Thunder,7.11,0.21,0.42,0.18,0.27,2.74,8.02,4638.90,13553.81,652.36,1906.06
5,Talum,3.13,0.30,0.49,0.48,0.13,-12.37,6.49,-20898.74,10974.92,-6676.70,3506.25
6,Easton,4.70,0.17,0.47,0.18,1.00,13.16,3.59,22240.34,6068.94,4733.30,1291.62
7,Deming,11.59,0.12,0.72,0.37,1.00,52.39,5.06,88536.47,8549.81,7639.54,737.74
8,Coleman,13.85,0.13,0.60,0.66,0.78,44.65,4.22,75451.03,7137.99,5445.78,515.19
9,Mazama,13.20,0.13,0.85,0.56,0.89,46.87,11.83,79213.85,19987.86,6002.52,1514.60

# Save Completed Tables

In [11]:
time_series_annualized_gross.to_csv("/home/elilouis/hsfm-geomorph/dem-analysis/mt_baker_mass_wasted/outputs/supplemental_tables/time_series_annualized_gross.csv")
time_series_cumulative.to_csv("/home/elilouis/hsfm-geomorph/dem-analysis/mt_baker_mass_wasted/outputs/supplemental_tables/time_series_cumulative.csv")
modeling_powerlaw_data.to_csv("/home/elilouis/hsfm-geomorph/dem-analysis/mt_baker_mass_wasted/outputs/supplemental_tables/modeling_powerlaw_data.csv")

In [12]:
src = time_series_annualized_gross.groupby(["valley", "type", "start_time", "end_time"]).sum()

src = src.pivot_table(
    values=['Annual Mass Wasted',	'uncertainty'],
    index=['valley', 'start_time', 'end_time'],
    columns = ['type']
)

src.columns = src.columns.to_series().str.join('_')

/tmp/ipykernel_109662/457427499.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  src = time_series_annualized_gross.groupby(["valley", "type", "start_time", "end_time"]).sum()

In [13]:
src['sediment yield'] = -src['Annual Mass Wasted_negative'] - src['Annual Mass Wasted_positive']
src['sediment delivery ratio'] = src['sediment yield']/-src['Annual Mass Wasted_negative']

src = src.reset_index()

In [14]:
src['start_time'] = pd.to_datetime(src.reset_index().start_time)
src['end_time'] = pd.to_datetime(src.reset_index().end_time)

In [15]:
src['sediment delivery ratio'] = np.round(src['sediment delivery ratio'],2)

In [16]:
src

,valley,start_time,end_time,Annual Mass Wasted_negative,Annual Mass Wasted_positive,uncertainty_negative,uncertainty_positive,sediment yield,sediment delivery ratio
0,Coleman,1947-09-14,1970-09-29,-39.56,4.34,12.64,12.64,35.22,0.89
1,Coleman,1970-09-29,1979-10-06,-8.47,17.33,16.41,16.41,-8.86,-1.05
2,Coleman,1979-10-06,1987-08-21,-9.30,12.13,27.69,27.69,-2.83,-0.30
3,Coleman,1987-08-21,1990-09-05,-28.33,1.79,133.86,133.86,26.54,0.94
4,Coleman,1990-09-05,2015-09-01,-14.57,3.77,3.20,3.20,10.80,0.74
5,Deming,1947-09-14,1970-09-29,-114.43,6.80,7.45,7.45,107.63,0.94
6,Deming,1970-09-29,1979-10-06,-21.12,72.27,20.93,20.93,-51.15,-2.42
7,Deming,1979-10-06,1991-09-09,-26.39,32.10,1.30,1.30,-5.71,-0.22
8,Deming,1991-09-09,2015-09-01,-67.98,6.22,3.29,3.29,61.76,0.91
9,Mazama,1947-09-14,1970-09-29,-104.01,16.15,37.61,37.61,87.86,0.84
10,Mazama,1970-09-29,1979-10-06,-30.80,39.83,8.18,8.18,-9.03,-0.29
11,Mazama,1979-10-06,1992-09-18,-26.62,16.35,19.83,19.83,10.27,0.39
12,Mazama,1992-09-18,2015-09-01,-43.27,8.94,6.88,6.88,34.33,0.79
13,Rainbow,1947-09-14,1970-09-29,-111.98,30.98,16.65,16.65,81.00,0.72
14,Rainbow,1970-09-29,1974-08-10,-40.32,52.49,42.60,42.60,-12.17,-0.30
15,Rainbow,1974-08-10,1977-09-27,-43.73,51.15,18.05,18.05,-7.42,-0.17
16,Rainbow,1977-09-27,1991-09-09,-18.45,13.25,2.58,2.58,5.20,0.28
17,Rainbow,1991-09-09,2015-09-01,-24.16,9.44,1.79,1.79,14.72,0.61

In [17]:
import altair as alt

In [18]:
alt.Chart(src).mark_bar().encode(
    alt.X("start_time:T"),
    alt.X2("end_time:T"),
    alt.Y("sediment delivery ratio:Q")
).facet("valley:N")

alt.FacetChart(...)

In [19]:
src['net'] = -(src['Annual Mass Wasted_negative'] + src['Annual Mass Wasted_positive'])

In [20]:
src['Measurement period'] = ((src['start_time'] + (src['end_time'] - src['start_time']) / 2).dt.year).astype(str).apply(lambda x: x[:3] + "0's")

src['Measurement period'] = src['Measurement period'].apply({
    "1950's": "1947-70",
    "1970's": "1970's",
    "1980's": "1980's",
    "2000's": "1990-2015"
}.get)

In [21]:
src.sort_values('sediment delivery ratio')[['valley', 'start_time', 'end_time', 'sediment delivery ratio', 'net']]

     valley start_time   end_time  sediment delivery ratio     net
6    Deming 1970-09-29 1979-10-06                    -2.42  -51.15
1   Coleman 1970-09-29 1979-10-06                    -1.05   -8.86
2   Coleman 1979-10-06 1987-08-21                    -0.30   -2.83
14  Rainbow 1970-09-29 1974-08-10                    -0.30  -12.17
10   Mazama 1970-09-29 1979-10-06                    -0.29   -9.03
7    Deming 1979-10-06 1991-09-09                    -0.22   -5.71
15  Rainbow 1974-08-10 1977-09-27                    -0.17   -7.42
16  Rainbow 1977-09-27 1991-09-09                     0.28    5.20
11   Mazama 1979-10-06 1992-09-18                     0.39   10.27
17  Rainbow 1991-09-09 2015-09-01                     0.61   14.72
13  Rainbow 1947-09-14 1970-09-29                     0.72   81.00
4   Coleman 1990-09-05 2015-09-01                     0.74   10.80
12   Mazama 1992-09-18 2015-09-01                     0.79   34.33
9    Mazama 1947-09-14 1970-09-29                     0.84   87.86
0   Coleman 1947-09-14 1970-09-29                     0.89   35.22
8    Deming 1991-09-09 2015-09-01                     0.91   61.76
3   Coleman 1987-08-21 1990-09-05                     0.94   26.54
5    Deming 1947-09-14 1970-09-29                     0.94  107.63

In [22]:
net_erosion_data = src.sort_values('sediment delivery ratio')[['valley', 'start_time', 'end_time', 'sediment delivery ratio', 'net']].query("net > 0").reset_index(drop=True)['sediment delivery ratio']

In [23]:
net_erosion_data

0     0.28
1     0.39
2     0.61
3     0.72
4     0.74
5     0.79
6     0.84
7     0.89
8     0.91
9     0.94
10    0.94
Name: sediment delivery ratio, dtype: float64

In [24]:
net_erosion_data.mean(), net_erosion_data.median()

(0.7318181818181817, 0.79)

In [28]:
alt.Chart(src).mark_point(size=50).encode(
    alt.X("net:Q", title ='Net Volumetric Change (10³ m³/yr)'),
    alt.Y("sediment delivery ratio:Q", title=['RSI', '(relative sediment balance index)']),
    alt.Shape("valley:N", title='Valley Name'),
    alt.Color("Measurement period:N", title=['Measurement', 'Period'])
).properties(width=200, height=200).configure_legend(
    titleFontSize=14, labelFontSize=14, orient='right'
).configure_axis(
    labelFontSize=14, titleFontSize=14
)

alt.Chart(...)