In [1]:
import pandas as pd
import glob

In [2]:
files = glob.glob("outputs/uncertainty**.pcl")
files

['outputs/uncertainty_coleman.pcl',
 'outputs/uncertainty_rainbow.pcl',
 'outputs/uncertainty_mazama.pcl',
 'outputs/uncertainty_deming.pcl',
 'outputs/uncertainty_wholemountain.pcl',
 'outputs/uncertainty_largearea_coleman.pcl',
 'outputs/uncertainty_largearea_deming.pcl',
 'outputs/uncertainty_largearea_mazama.pcl',
 'outputs/uncertainty_largearea_rainbow.pcl']

In [3]:
df = pd.DataFrame()
for f in files:
    new_data = pd.read_pickle(f)
    new_data['Name'] = f.split("uncertainty_")[1].split('.pcl')[0]
    if "largearea" in new_data['Name'].iloc[0]:
        new_data['Name'] = new_data['Name'].iloc[0].split("largearea_")[1] + " (large area)"
    if "wholemountain" == new_data['Name'].iloc[0]:
        new_data['Name'] = "whole mountain"
    new_data['Name'] = new_data['Name'].apply(lambda x: x.title())
    df = df.append(new_data)

/tmp/ipykernel_407843/2991869655.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(new_data)
/tmp/ipykernel_407843/2991869655.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(new_data)
/tmp/ipykernel_407843/2991869655.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(new_data)
/tmp/ipykernel_407843/2991869655.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(new_data)
/tmp/ipykernel_407843/2991869655.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(new_data)
/tmp/ipykernel_407843/2991869655.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(new_data)
/tmp/ipykernel_407843/2991869655.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(new_data)
/tmp/ipykernel_407843/2991869655.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(new_data)
/tmp/ipykernel_407843/2991869655.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(new_data)

In [4]:
pd.set_option('display.max_rows', 100)

In [5]:
df = df[['Name', 'Start Date', 'End Date', 'Mean', 'RMSE', 'Range', 'Sill', '90% CI Lower Bound', '90% CI Upper Bound']].round(decimals=2)

In [6]:
src = df[df['Name'].str.contains("Large Area")]
src = src[src['Start Date'].dt.year==1947]
src

,Name,Start Date,End Date,Mean,RMSE,Range,Sill,90% CI Lower Bound,90% CI Upper Bound
0,Coleman (Large Area),1947-09-14,1979-10-06,0.09,1.83,43.60,1.96,-2.92,3.11
2,Coleman (Large Area),1947-09-14,2015-09-01,0.47,1.95,33.34,2.23,-2.64,3.59
0,Deming (Large Area),1947-09-14,1979-10-06,0.69,1.25,38.66,1.05,-1.02,2.40
2,Deming (Large Area),1947-09-14,2015-09-01,0.70,1.34,24.68,1.25,-1.18,2.57
0,Mazama (Large Area),1947-09-14,1979-10-06,1.08,2.42,41.35,4.38,-2.48,4.64
2,Mazama (Large Area),1947-09-14,2015-09-01,0.85,2.65,37.42,5.93,-3.28,4.98
0,Rainbow (Large Area),1947-09-14,1977-09-27,-0.75,2.03,9.35,3.19,-3.86,2.35
2,Rainbow (Large Area),1947-09-14,2015-09-01,-0.78,2.02,8.45,3.01,-3.85,2.28

In [7]:
df.reset_index(drop=True)

,Name,Start Date,End Date,Mean,RMSE,Range,Sill,90% CI Lower Bound,90% CI Upper Bound
0,Coleman,1947-09-14,1970-09-29,1.03,2.83,13.42,6.18,-3.31,5.37
1,Coleman,1970-09-29,1979-10-06,-0.67,1.36,9.62,1.14,-2.62,1.29
2,Coleman,1979-10-06,1987-08-21,-1.03,2.08,18.93,2.30,-4.01,1.95
3,Coleman,1987-08-21,1990-09-05,1.50,2.54,18.43,1.45,-1.88,4.87
4,Coleman,1990-09-05,2015-09-01,-0.22,1.11,48.12,1.37,-2.01,1.57
5,Coleman,1947-09-14,2015-09-01,0.47,1.95,26.25,2.14,-2.64,3.59
6,Rainbow,1947-09-14,1970-09-29,-0.57,1.89,8.90,2.74,-3.54,2.40
7,Rainbow,1970-09-29,1974-08-10,-0.33,0.92,15.91,0.69,-1.74,1.09
8,Rainbow,1974-08-10,1977-09-27,0.11,0.66,15.74,0.41,-0.96,1.18
9,Rainbow,1977-09-27,1991-09-09,0.06,0.60,8.66,0.34,-0.92,1.04
10,Rainbow,1991-09-09,2015-09-01,-0.07,0.48,6.86,0.23,-0.86,0.72
11,Rainbow,1947-09-14,2015-09-01,-0.78,2.02,7.92,3.12,-3.85,2.28
12,Mazama,1947-09-14,1970-09-29,1.12,2.48,29.72,4.21,-2.52,4.76
13,Mazama,1970-09-29,1979-10-06,0.09,0.76,22.56,0.45,-1.14,1.32
14,Mazama,1979-10-06,1992-09-18,-0.31,1.28,65.27,1.26,-2.35,1.72
15,Mazama,1992-09-18,2015-09-01,0.14,1.36,101.91,1.47,-2.08,2.36
16,Mazama,1947-09-14,2015-09-01,0.85,2.65,38.17,5.91,-3.28,4.98
17,Deming,1947-09-14,1970-09-29,-0.45,1.32,15.02,1.53,-2.49,1.59
18,Deming,1970-09-29,1979-10-06,0.54,0.91,2.39,0.14,-0.65,1.74
19,Deming,1979-10-06,1991-09-09,-0.03,0.71,23.07,0.43,-1.21,1.14
20,Deming,1991-09-09,2015-09-01,-0.18,0.76,26.18,0.47,-1.40,1.03
21,Deming,1947-09-14,2015-09-01,0.70,1.34,26.24,1.24,-1.18,2.57
22,Whole Mountain,1947-09-14,1977-09-27,-1.15,2.36,70.47,3.12,-4.55,2.25
23,Whole Mountain,1977-09-27,2015-09-01,-0.03,0.53,86.83,0.10,-0.90,0.85
24,Whole Mountain,1947-09-14,1979-10-06,0.73,2.29,78.69,3.63,-2.83,4.30
25,Whole Mountain,1979-10-06,2015-09-01,0.06,0.80,29.87,0.24,-1.25,1.37
26,Whole Mountain,1947-09-14,2015-09-01,0.49,2.25,68.55,3.79,-3.11,4.10
27,Coleman (Large Area),1947-09-14,1979-10-06,0.09,1.83,43.60,1.96,-2.92,3.11
28,Coleman (Large Area),1979-10-06,2015-09-01,0.26,0.74,17.54,0.45,-0.88,1.39
29,Coleman (Large Area),1947-09-14,2015-09-01,0.47,1.95,33.34,2.23,-2.64,3.59
30,Deming (Large Area),1947-09-14,1979-10-06,0.69,1.25,38.66,1.05,-1.02,2.40
31,Deming (Large Area),1979-10-06,2015-09-01,-0.18,0.65,13.33,0.10,-1.21,0.86
32,Deming (Large Area),1947-09-14,2015-09-01,0.70,1.34,24.68,1.25,-1.18,2.57
33,Mazama (Large Area),1947-09-14,1979-10-06,1.08,2.42,41.35,4.38,-2.48,4.64
34,Mazama (Large Area),1979-10-06,2015-09-01,-0.18,1.05,116.26,0.90,-1.89,1.52
35,Mazama (Large Area),1947-09-14,2015-09-01,0.85,2.65,37.42,5.93,-3.28,4.98
36,Rainbow (Large Area),1947-09-14,1977-09-27,-0.75,2.03,9.35,3.19,-3.86,2.35
37,Rainbow (Large Area),1977-09-27,2015-09-01,0.01,0.56,10.44,0.33,-0.92,0.93
38,Rainbow (Large Area),1947-09-14,2015-09-01,-0.78,2.02,8.45,3.01,-3.85,2.28

In [9]:
df.to_csv("outputs/uncertainty.csv", index=False)